/* .md-typeset h1 {
    font-weight: bold;
    color: #000;
    border-bottom: solid 2px #000;
    padding-bottom: 5px;
}
.md-typeset h2 {
    border-bottom: solid 1px #000000;
}
.md-typeset h3 {
    border-bottom: 1px dotted #888;
} */

.codehilite .hll, .md-typeset .highlight .hll {
    display: block;
    margin: 0 -.6rem;
    padding: 0 .6rem;
    opacity: 0.5;
    background-color:rgba(0, 0, 0, 0);
}

.md-tabs {
    border-bottom: .05rem solid rgba(0,0,0,.07) !important;
    background-color: #ef5350 !important;
    color: hsl(0, 0%, 100%) !important;
}

/* .md-container {
    background: whitesmoke;
} */

.md-content {
    background: white;
}

/* .md-sidebar--primary {
    position: absolute;
    width: 12.1rem;
    padding: 1.2rem 0;
    overflow: hidden;
    background: white;
} */

/* .md-content__inner {
    margin-right: 1.2rem;
    margin-left: 1.2rem;
    border-left: solid 1px #000000;
    border-right: solid 1px #000000;
} */

/* .md-nav {
    background-color: whitesmoke;
} */

.md-nav--secondary {
    margin-left: 1rem;
    border-left: solid 3px #ef5350;
    /* background: whitesmoke; */
}



/* 
.md-search__input {
    width: 100%;
    height: 1.8rem;
    padding-left: 2.2rem;
    -webkit-transition: background-color .25s cubic-bezier(.1,.7,.1,1),color .25s cubic-bezier(.1,.7,.1,1);
    transition: background-color .25s cubic-bezier(.1,.7,.1,1),color .25s cubic-bezier(.1,.7,.1,1);
    background-color: rgba(0,0,0,.07);
    color: #000;
    font-size: .8rem;
}

.md-nav--secondary {
    font-size: .7rem;
    line-height: 1.3;
    border-left: solid 1px #000000;
}

.md-nav--primary {
    font-size: .7rem;
    line-height: 1.3;
    border-right: solid 1px #000000;
}

.md-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 2.4rem;
    -webkit-transition: background-color .25s,color .25s;
    transition: background-color .25s,color .25s;
    background-color: hsl(0, 0%, 100%);
    color: rgba(0,0,0,.87);
    box-shadow: none;
    z-index: 2;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
} */



@media only screen and (min-width: 100em) {

    .md-grid {
      max-width: 70rem;

    }

    .md-content {
        margin-left: 13.1rem;
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;
    }

    .md-sidebar--secondary {
        margin-left: 70rem;
      }

      .md-sidebar--primary {
        /* position: absolute;
        width: 12.1rem;
        padding: 1.2rem 0;
        overflow: hidden;
        background: white; */
        border-right: solid 1px lightgray;
    }

    .md-sidebar--primary {
        padding-top: 0;
    }

    .md-nav--primary {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        background: white;
    }
  }